/* for whole site */
* {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
}

/* begin classes*/
@media screen and (min-width:1570px) {

    .nav-logo {
        width: 7%;
        height: 95%;
    }
}

@media screen and (min-width:800px) and (max-width:1570px) {

    .nav-logo {
        width: 7%;
        height: 75%;
    }
}

@media screen and (max-width:800px) {

    .nav-logo {
        width: 20%;
        height: 60%;

    }

}

.blue-page {
    background-color: #1d7cbc;
    color: #FFFFFF
}

.nav-background {
    background-color: #000000;
    color: #FFFFFF;
}

.trackHeader {
    background-color: #000000;
    height: 90%;
}

.textBorders {
    border-bottom: 10px solid #1d7cbc;

}

.pictureBorders {
    border: 10px solid #1d7cbc;
    padding-left: 0%;
    padding-right: 0%;
    height: 300px;
    width: 600px;
}

.pageHeader {
    padding-right: 0%;
    padding-left: 0%;
    background-color: white;
}

.pageBody {
    padding-right: 10px;
    padding-left: 10px;
    background-color: white;
}

.footer {
    background-color: #1d7cbc;
}